body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {
    padding: 0px !important;
}

.menu-principal {
    width: 100%;
    background-color: #9CA6C6;
    height: 60px;
}

main,
.content {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.content {
    float: left;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30% !important;
}

.logo {
    float: left;
    padding: 10px;
    width: 0%;
}

.carteiras ul li {
    margin-left: 40px;
    display: inline-block;
    list-style: none;
}

.carteiras {
    width: 40%;
    float: right;
    padding: 0 auto;
}

.table1 {
    width: 400px;
    height: 300px;
    margin: 40px auto;
    background-color: #db7272;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
}

.table2 {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background-color: #db7272;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
}